In [378]:
import pandas as pd
import psycopg2
import plotly.express as px
import json
import requests

In [379]:
#Data Frame Creation

#SQL connection

mydb = psycopg2.connect(host = "localhost",
                        user = "postgres",
                        port = "5432",
                        database = "phonepay_data",
                        password = "John@2394")
cursor =mydb.cursor()

#Aggregated Insurance df

cursor.execute("SELECT * FROM aggregated_insurance")
mydb.commit()
table1 = cursor.fetchall()

Aggregated_insurance = pd.DataFrame(table1, columns=("States", "Years", "Quarter", 
                                                     "Transaction_type", "Transaction_count", "Transaction_amount"))
#Aggregated transaction df

cursor.execute("SELECT * FROM aggregated_transaction")
mydb.commit()
table2 = cursor.fetchall()

Aggregated_transaction = pd.DataFrame(table2, columns=("States", "Years", "Quarter", 
                                                     "Transaction_type", "Transaction_count", "Transaction_amount"))

#Aggregated User df

cursor.execute("SELECT * FROM aggregated_user")
mydb.commit()
table3 = cursor.fetchall()

Aggregated_user = pd.DataFrame(table3, columns=("States", "Years", "Quarter", 
                                                     "Brands", "Transaction_count", "Percentage"))

#Map Insurance df

cursor.execute("SELECT * FROM map_insurance")
mydb.commit()
table4 = cursor.fetchall()

Map_insurance = pd.DataFrame(table4, columns=("States", "Years", "Quarter", 
                                                     "Districts", "Transaction_count", "Transaction_amount"))
#Map transaction df

cursor.execute("SELECT * FROM map_transaction")
mydb.commit()
table5 = cursor.fetchall()

Map_transaction = pd.DataFrame(table5, columns=("States", "Years", "Quarter", 
                                                     "Districts", "Transaction_count", "Transaction_amount"))


#Map user df

cursor.execute("SELECT * FROM map_user")
mydb.commit()
table6 = cursor.fetchall()

Map_user = pd.DataFrame(table6, columns=("States", "Years", "Quarter", 
                                                     "Districts", "RegisteredUsers", "AppOpens"))

#top Insurance df

cursor.execute("SELECT * FROM top_insurance")
mydb.commit()
table7 = cursor.fetchall()

Top_insurance = pd.DataFrame(table7, columns=("States", "Years", "Quarter", 
                                                     "Pincodes", "Transaction_count", "Transaction_amount"))

#top transaction df

cursor.execute("SELECT * FROM top_transaction")
mydb.commit()
table8= cursor.fetchall()

Top_transaction = pd.DataFrame(table8, columns=("States", "Years", "Quarter", 
                                                     "Pincodes", "Transaction_count", "Transaction_amount"))
#Top user df

cursor.execute("SELECT * FROM top_user")
mydb.commit()
table9 = cursor.fetchall()

Top_user = pd.DataFrame(table9, columns=("States", "Years", "Quarter", 
                                                     "Pincodes", "RegisteredUsers"))

In [380]:
#sql connection
def top_chart_transaction_amount(table_name):
    
    mydb = psycopg2.connect(host = "localhost",
                            user = "postgres",
                            port = "5432",
                            database = "phonepay_data",
                            password = "John@2394")
    cursor =mydb.cursor()

    #plot 1

    query1 = f'''SELECT states, SUM(transaction_amount) AS transaction_amount
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_amount DESC
                LIMIT 10;'''
                
    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 =pd.DataFrame(table_1, columns= ("states", "transaction_amount"))

    fig_amount_1 = px.bar(df_1, x="states", y="transaction_amount", title="TRANSACTION AMOUNT", hover_name= "states",
                            color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount_1.show()
#plot 2

    query2 = f'''SELECT states, SUM(transaction_amount) AS transaction_amount
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_amount 
                LIMIT 10;'''
                
    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2 =pd.DataFrame(table_2, columns= ("states", "transaction_amount"))

    fig_amount_2 = px.bar(df_2, x="states", y="transaction_amount", title="TRANSACTION AMOUNT", hover_name= "states",
                            color_discrete_sequence=px.colors.sequential.Bluyl_r, height= 650, width= 600)
    fig_amount_2.show()
#plot 3

    query3 = f'''SELECT states, AVG(transaction_amount) AS transaction_amount
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_amount;'''
                
    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3 =pd.DataFrame(table_3, columns= ("states", "transaction_amount"))

    fig_amount_3 = px.bar(df_3, y="states", x="transaction_amount", title="TRANSACTION AMOUNT", hover_name= "states", orientation= "h",
                            color_discrete_sequence=px.colors.sequential.Blues_r, height= 800, width= 1000)
    fig_amount_3.show()

In [381]:
#sql connection

def top_chart_transaction_count(table_name):
    
    mydb = psycopg2.connect(host = "localhost",
                            user = "postgres",
                            port = "5432",
                            database = "phonepay_data",
                            password = "John@2394")
    cursor =mydb.cursor()

    #plot 1

    query1 = f'''SELECT states, SUM(transaction_count) AS transaction_count
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_count DESC
                LIMIT 10;'''
                
    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 =pd.DataFrame(table_1, columns= ("states", "transaction_count"))

    fig_amount_1 = px.bar(df_1, x="states", y="transaction_count", title="TRANSACTION COUNT", hover_name= "states",
                            color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount_1.show()
 #plot 2

    query2 = f'''SELECT states, SUM(transaction_count) AS transaction_count
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_count 
                LIMIT 10;'''
                
    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2 =pd.DataFrame(table_2, columns= ("states", "transaction_count"))

    fig_amount_2 = px.bar(df_2, x="states", y="transaction_count", title="TRANSACTION COUNT", hover_name= "states",
                            color_discrete_sequence=px.colors.sequential.Bluyl_r, height= 650, width= 600)
    fig_amount_2.show()


    #plot 3

    query3 = f'''SELECT states, AVG(transaction_count) AS transaction_count
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_count;'''
                
    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3 =pd.DataFrame(table_3, columns= ("states", "transaction_count"))

    fig_amount_3 = px.bar(df_3, y="states", x="transaction_count", title="TRANSACTION count", hover_name= "states", orientation= "h",
                            color_discrete_sequence=px.colors.sequential.Blues_r, height= 800, width= 1000)
    fig_amount_3.show()

In [382]:
#sql connection
def top_chart_registered_users(table_name, state):
    
    mydb = psycopg2.connect(host = "localhost",
                            user = "postgres",
                            port = "5432",
                            database = "phonepay_data",
                            password = "John@2394")
    cursor =mydb.cursor()

    #plot 1

    query1 = f'''SELECT districts, SUM(registeredusers) AS registeredusers
                 FROM {table_name}
                 WHERE states='{state}'
                 GROUP BY districts
                 ORDER BY registeredusers DESC
                 LIMIT 10;'''
                
    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 =pd.DataFrame(table_1, columns= ("districts", "registeredusers"))

    fig_amount_1 = px.bar(df_1, x="districts", y="registeredusers", title="TOP 10 OF REGISTERED USERS", hover_name= "districts",
                            color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount_1.show()
#plot 2

    query2 = f'''SELECT districts, SUM(registeredusers) AS registeredusers
                FROM {table_name}
                WHERE states='{state}'
                GROUP BY districts
                ORDER BY registeredusers 
                LIMIT 10;'''
                
    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2 =pd.DataFrame(table_2, columns= ("districts", "registeredusers"))

    fig_amount_2 = px.bar(df_2, x="districts", y="registeredusers", title="LAST 10 OF REGISTERED USERS", hover_name= "districts",
                            color_discrete_sequence=px.colors.sequential.Bluyl_r, height= 650, width= 600)
    fig_amount_2.show()


    #plot 3

    query3 = f'''SELECT districts, AVG(registeredusers) AS registeredusers
                FROM {table_name}
                WHERE states= '{state}'
                GROUP BY districts
                ORDER BY registeredusers;'''
                
    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3 =pd.DataFrame(table_3, columns= ("districts", "registeredusers"))

    fig_amount_3 = px.bar(df_3, y="districts", x="registeredusers", title="AVERAGE OF REGISTERED USERS", hover_name= "districts", orientation= "h",
                            color_discrete_sequence=px.colors.sequential.Blues_r, height= 800, width= 1000)
    fig_amount_3.show()

In [383]:
#sql connection
def top_chart_appopens(table_name, state):
    
    mydb = psycopg2.connect(host = "localhost",
                            user = "postgres",
                            port = "5432",
                            database = "phonepay_data",
                            password = "John@2394")
    cursor =mydb.cursor()

    #plot 1

    query1 = f'''SELECT districts, SUM(appopens) AS appopens
                 FROM {table_name}
                 WHERE states='{state}'
                 GROUP BY districts
                 ORDER BY appopens DESC
                 LIMIT 10;'''
                
    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 =pd.DataFrame(table_1, columns= ("districts", "appopens"))

    fig_amount_1 = px.bar(df_1, x="districts", y="appopens", title="TOP 10 OF APPOPENS", hover_name= "districts",
                            color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount_1.show()
#plot 2

    query2 = f'''SELECT districts, SUM(appopens) AS appopens
                FROM {table_name}
                WHERE states='{state}'
                GROUP BY districts
                ORDER BY appopens
                LIMIT 10;'''
                
    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2 =pd.DataFrame(table_2, columns= ("districts", "appopens"))

    fig_amount_2 = px.bar(df_2, x="districts", y="appopens", title="LAST 10 OF APPOPENS", hover_name= "districts",
                            color_discrete_sequence=px.colors.sequential.Bluyl_r, height= 650, width= 600)
    fig_amount_2.show()


    #plot 3

    query3 = f'''SELECT districts, AVG(appopens) AS appopens
                FROM {table_name}
                WHERE states= '{state}'
                GROUP BY districts
                ORDER BY appopens;'''
                
    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3 =pd.DataFrame(table_3, columns= ("districts", "appopens"))

    fig_amount_3 = px.bar(df_3, y="districts", x="appopens", title="AVERAGE OF APPOPENS", hover_name= "districts", orientation= "h",
                            color_discrete_sequence=px.colors.sequential.Blues_r, height= 800, width= 1000)
    fig_amount_3.show()

In [384]:
#sql connection
def top_chart_registeredusers(table_name):
    
    mydb = psycopg2.connect(host = "localhost",
                            user = "postgres",
                            port = "5432",
                            database = "phonepay_data",
                            password = "John@2394")
    cursor =mydb.cursor()

    #plot 1

    query1 = f'''SELECT states, SUM(registeredusers) AS registeredusers
                 FROM {table_name}
                 GROUP BY states
                 ORDER BY registeredusers DESC
                 LIMIT 10;'''
                
    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 =pd.DataFrame(table_1, columns= ("states", "registeredusers"))

    fig_amount_1 = px.bar(df_1, x="states", y="registeredusers", title="TOP 10 OF REGISTERED USERS", hover_name= "states",
                            color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount_1.show()
 #plot 2

    query2 = f'''SELECT states, SUM(registeredusers) AS registeredusers
                FROM {table_name}
                GROUP BY states
                ORDER BY registeredusers 
                LIMIT 10;'''
                
    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2 =pd.DataFrame(table_2, columns= ("states", "registeredusers"))

    fig_amount_2 = px.bar(df_2, x="states", y="registeredusers", title="LAST 10 OF REGISTERED USERS", hover_name= "states",
                            color_discrete_sequence=px.colors.sequential.Bluyl_r, height= 650, width= 600)
    fig_amount_2.show()


    #plot 3

    query3 = f'''SELECT states, AVG(registeredusers) AS registeredusers
                FROM {table_name}
                GROUP BY states
                ORDER BY registeredusers;'''
                
    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3 =pd.DataFrame(table_3, columns= ("states", "registeredusers"))

    fig_amount_3 = px.bar(df_3, y="states", x="registeredusers", title="AVERAGE OF REGISTERED USERS", hover_name= "states", orientation= "h",
                            color_discrete_sequence=px.colors.sequential.Blues_r, height= 800, width= 1000)
    fig_amount_3.show()

In [385]:
#Transaction year based

def Transaction_amount_count_Y(df,year): 
    tacy =df[df["Years"]==year]
    tacy.reset_index(drop=True, inplace= True)

    tacyg = tacy.groupby("States")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_amount = px.bar(tacyg, x="States", y="Transaction_amount", title=f"{year} TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount.show()

    fig_count = px.bar(tacyg, x="States", y="Transaction_count", title=f"{year} TRANSACTION COUNT",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height= 650, width= 600)
    fig_count.show()
    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 =json.loads(response.content)
    states_name =[]
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])
        
    states_name.sort()   

    fig_india_1 =px.choropleth(tacyg, geojson=data1, locations= "States", featureidkey= "properties.ST_NM",
                               color= "Transaction_amount", color_continuous_scale= "Rainbow", 
                               range_color= (tacyg["Transaction_amount"].min(),tacyg["Transaction_amount"].max()),
                               hover_name= "States", title= f"{year} TRANSACTION AMOUNT", fitbounds= "locations",
                               height= 600, width= 600)
    fig_india_1.update_geos(visible = False)
    fig_india_1.show() 
    
    fig_india_2 =px.choropleth(tacyg, geojson=data1, locations= "States", featureidkey= "properties.ST_NM",
                               color= "Transaction_count", color_continuous_scale= "Rainbow", 
                               range_color= (tacyg["Transaction_count"].min(),tacyg["Transaction_count"].max()),
                               hover_name= "States", title= f"{year} TRANSACTION COUNT", fitbounds= "locations",
                               height= 600, width= 600)
    fig_india_2.update_geos(visible = False)
    fig_india_2.show() 
    
    return tacy

In [386]:
#Transaction Quarter based

def Transaction_amount_count_Y_Q(df,quarter):
     
    tacy =df[df["Quarter"]==quarter]
    tacy.reset_index(drop=True, inplace= True)

    tacyg = tacy.groupby("States")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_amount = px.bar(tacyg, x="States", y="Transaction_amount", title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount.show()

    fig_count = px.bar(tacyg, x="States", y="Transaction_count", title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height= 650, width= 600)
    fig_count.show()
    
    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 =json.loads(response.content)
    states_name =[]
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])
        
    states_name.sort()   

    fig_india_1 =px.choropleth(tacyg, geojson=data1, locations= "States", featureidkey= "properties.ST_NM",
                               color= "Transaction_amount", color_continuous_scale= "Rainbow", 
                               range_color= (tacyg["Transaction_amount"].min(),tacyg["Transaction_amount"].max()),
                               hover_name= "States", title= f"{tacy['Years'].unique()} YEAR {quarter} QUARTER TRANSACTION AMOUNT", fitbounds= "locations",
                               height= 600, width= 600)
    fig_india_1.update_geos(visible = False)
    fig_india_1.show() 
    
    fig_india_2 =px.choropleth(tacyg, geojson=data1, locations= "States", featureidkey= "properties.ST_NM",
                               color= "Transaction_count", color_continuous_scale= "Rainbow", 
                               range_color= (tacyg["Transaction_count"].min(),tacyg["Transaction_count"].max()),
                               hover_name= "States", title= f"{tacy['Years'].unique()} YEAR {quarter} QUARTER TRANSACTION COUNT", fitbounds= "locations",
                               height= 600, width= 600)
    fig_india_2.update_geos(visible = False)
    fig_india_2.show() 
    
    return tacy

In [387]:
#Transaction Type

def Aggre_tran_transaction_type(df, state):
    
    tacy =df[df["States"]==state]
    tacy.reset_index(drop=True, inplace= True)

    tacyg = tacy.groupby("Transaction_type")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_pie_1 = px.pie(data_frame= tacyg, names= "Transaction_type", values= "Transaction_amount",
                    width= 600, title=f"{state.upper()} TRANSACTION AMOUNT", hole= 0.5)
    fig_pie_1.show()
    
    fig_pie_2 = px.pie(data_frame= tacyg, names= "Transaction_type", values= "Transaction_count",
                    width= 600, title=f"{state.upper()} TRANSACTION COUNT", hole= 0.5)
    fig_pie_2.show()

In [388]:
#Aggregated user Analysis 1

def Aggre_user_plot_1(df, year):
    
    aguy = df[df["Years"]==year]
    aguy.reset_index(drop= True, inplace= True)


    aguyg = pd.DataFrame(aguy.groupby("Brands")["Transaction_count"].sum())
    aguyg.reset_index(inplace= True)

    fig_bar_1 = px.bar(aguyg, x= "Brands", y= "Transaction_count", title= f"{year}BRANDS AND TRANSACTION COUNT",
                    width= 1000, color_discrete_sequence= px.colors.sequential.haline, hover_name= "Brands")
    fig_bar_1.show()
    
    return aguy

In [389]:
#Aggregated user Analysis 2

def Aggre_user_plot_2(df, quarter):
    
    aguyq = df[df["Quarter"]==quarter]
    aguyq.reset_index(drop= True, inplace= True)

    aguyqg = pd.DataFrame(aguyq.groupby("Brands")["Transaction_count"].sum())
    aguyqg.reset_index(inplace= True)

    fig_bar_1 = px.bar(aguyqg, x= "Brands", y= "Transaction_count", title= f"{quarter} QUARTER, BRANDS AND TRANSACTION COUNT",
                        width= 1000, color_discrete_sequence= px.colors.sequential.Bluered, hover_name= "Brands")
    fig_bar_1.show()
    
    return aguyq

In [390]:
#Aggregated user Analysis 3

def Aggre_user_plot_3(df, state):

    auyqs = df[df["States"] == state]
    auyqs.reset_index(drop= True, inplace= True)

    fig_line_1 =px.line(auyqs, x= "Brands", y= "Transaction_count", hover_data= "Percentage",
                        title= f"{state.upper()} BRANDS, TRANSACTION COUNT, PERCENTAGE",
                        color_discrete_sequence=px.colors.sequential.Magenta_r, width= 1000, markers= True)
    fig_line_1.show()

In [391]:
# Map Insurance Districts

def Map_insur_Districts(df, state):
    
    tacy =df[df["States"]==state]
    tacy.reset_index(drop=True, inplace= True)

    tacyg = tacy.groupby("Districts")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_bar_1 = px.bar(tacyg, x= "Transaction_amount", y= "Districts", orientation= "h",
                       title= f"{state.upper()} DISTRICTS AND TRANSACTION AMOUNT", color_discrete_sequence= px.colors.sequential.Brwnyl_r)
    fig_bar_1.show()
    
    fig_bar_2 = px.bar(tacyg, x= "Transaction_count", y= "Districts", orientation= "h",
                       title= f"{state.upper()} DISTRICTS AND TRANSACTION COUNT", color_discrete_sequence= px.colors.sequential.Blues_r)
    fig_bar_2.show()

In [392]:
#Map user plot 1
def map_user_plot_1(df, year):
    muy= df[df["Years"]==year]
    muy.reset_index(drop= True, inplace= True)


    muyg = muy.groupby("States")[["RegisteredUsers", "AppOpens"]].sum()
    muyg.reset_index(inplace= True)

    fig_line_1 =px.line(muyg, x= "States", y= ["RegisteredUsers", "AppOpens"],
                            title= f"{year} REGISTERED USERS, APPOPENS",
                            color_discrete_sequence=px.colors.sequential.Bluered_r, width= 1000, height= 800, markers= True)
    fig_line_1.show() 
    
    return muy

In [393]:
#Map user plot 2

def map_user_plot_2(df, quarter):
    
    muyq= df[df["Quarter"]==quarter]
    muyq.reset_index(drop= True, inplace= True)


    muyqg = muyq.groupby("States")[["RegisteredUsers", "AppOpens"]].sum()
    muyqg.reset_index(inplace= True)

    fig_line_1 =px.line(muyqg, x= "States", y= ["RegisteredUsers", "AppOpens"],
                            title= f"{df['Years'].unique()} YEAR {quarter} QUARTER, REGISTERED USERS, APPOPENS",
                            color_discrete_sequence=px.colors.sequential.Aggrnyl_r, width= 1000, height= 800, markers= True)
    fig_line_1.show() 
    
    return muyq

In [394]:
#Map user plot 3

def map_user_plot_3(df, states):

    muyqs = df[df["States"] == states ]
    muyqs.reset_index(drop= True, inplace= True)

    fig_map_user_bar_1 =px.bar(muyqs, x= "RegisteredUsers", y= "Districts", orientation= "h",
                            title= f"{states.upper()} REGISTERED USERS",  color_discrete_sequence= px.colors.sequential.Rainbow, height= 800)
    fig_map_user_bar_1.show()

    fig_map_user_bar_2 =px.bar(muyqs, x= "AppOpens", y= "Districts", orientation= "h",
                            title= f"{states.upper()} APPOPENS",  color_discrete_sequence= px.colors.sequential.Rainbow_r, height= 800)
    fig_map_user_bar_2.show()

In [395]:
# Top Insurance plot 1

def Top_insurance_plot_1(df, states):
    
    tiy= df[df["States"] == states]
    tiy.reset_index(drop= True, inplace= True)

    fig_top_insur_bar_1 =px.bar(tiy, x= "Quarter", y= "Transaction_amount", hover_data= "Pincodes",
                                title= "TRANSACTION AMOUNT",  color_discrete_sequence= px.colors.sequential.Mint_r, height= 800)
    fig_top_insur_bar_1.show()
    
    fig_top_insur_bar_2 =px.bar(tiy, x= "Quarter", y= "Transaction_count", hover_data= "Pincodes",
                                title= "TRANSACTION COUNT",  color_discrete_sequence= px.colors.sequential.Rainbow, height= 800)
    fig_top_insur_bar_2.show()

In [396]:
# top user plot 1

def top_user_plot_1(df, year):
    
    tuy = df[df["Years"] == year]
    tuy.reset_index(drop= True, inplace= True)


    tuyg = pd.DataFrame(tuy.groupby(["States", "Quarter"])["RegisteredUsers"].sum())
    tuyg.reset_index(inplace= True)

    fig_top_plot_1 = px.bar(tuyg, x= "States", y= "RegisteredUsers", color= "Quarter", height= 800, width= 1000,
                            color_discrete_sequence= px.colors.sequential.Rainbow_r, hover_name= "States",
                            title= f"{year} REGISTERED USERS")
    fig_top_plot_1.show()
    
    return tuy

In [397]:
#top user plot 2

def top_user_plot_2(df, state):
    
    tuys= df[df["States"] == state]
    tuys.reset_index(drop= True, inplace= True)

    fig_top_plot_2 = px.bar(tuys, x= "Quarter", y= "RegisteredUsers", title= f"{state.upper()} REGISTERED USERS, PINCODES, QUARTER",
                            color_continuous_scale= px.colors.sequential.Magenta, height= 800, width= 1000, color= "RegisteredUsers",
                            hover_data= "Pincodes")
    fig_top_plot_2.show()

### Aggregated insurance

In [ ]:
tac_Y = Transaction_amount_count_Y(Aggregated_insurance, 2023)

In [ ]:
Transaction_amount_count_Y_Q(tac_Y, 2)

### Aggregated Transaction

In [ ]:
Aggre_tran_tac_Y = Transaction_amount_count_Y(Aggregated_transaction, 2024)

In [ ]:
Aggre_tran_transaction_type(Aggre_tran_tac_Y, 'Tamil Nadu')

In [ ]:
Aggre_tran_tac_Y_Q = Transaction_amount_count_Y_Q(Aggre_tran_tac_Y , 1)

In [ ]:
Aggre_tran_transaction_type(Aggre_tran_tac_Y_Q, 'Tamil Nadu')

### Aggregate User

In [ ]:
Aggre_user_Y = Aggre_user_plot_1(Aggregated_user, 2021)

In [ ]:
Aggre_user_Y_Q = Aggre_user_plot_2(Aggre_user_Y, 1)

In [ ]:
Aggre_user_plot_3(Aggre_user_Y_Q, "Tamil Nadu")

### Map insurance

In [ ]:
Map_insur_tac_Y = Transaction_amount_count_Y(Map_insurance, 2024)

In [ ]:
Map_insur_Districts(Map_insur_tac_Y , "West Bengal")

In [ ]:
Map_insur_tac_Y_Q = Transaction_amount_count_Y_Q(Map_insur_tac_Y  , 1)

In [ ]:
Map_insur_Districts(Map_insur_tac_Y_Q, 'Tamil Nadu')

### Map transaction

In [ ]:
Map_tran_tac_Y = Transaction_amount_count_Y(Map_transaction, 2024)

In [ ]:
Map_insur_Districts(Map_tran_tac_Y , "West Bengal")

In [ ]:
Map_tran_tac_Y_Q = Transaction_amount_count_Y_Q(Map_tran_tac_Y  , 1)

In [ ]:
Map_insur_Districts(Map_tran_tac_Y_Q, 'Tamil Nadu')

### Map user

In [ ]:
Map_user_Y = map_user_plot_1(Map_user, 2024)

In [ ]:
Map_user_Y_Q = map_user_plot_2(Map_user_Y, 1)

In [ ]:
map_user_plot_3(Map_user_Y_Q, "Tamil Nadu")

### Top insurance

In [ ]:
Top_insur_tac_Y = Transaction_amount_count_Y(Top_insurance, 2023)

In [ ]:
Top_insurance_plot_1(Top_insur_tac_Y, "Tamil Nadu")

In [ ]:
Top_insur_tac_Y_Q = Transaction_amount_count_Y_Q(Top_insur_tac_Y  , 3)

### Top transaction

In [ ]:
Top_tran_tac_Y = Transaction_amount_count_Y(Top_transaction, 2023)

In [ ]:
Top_insurance_plot_1(Top_tran_tac_Y, "Tamil Nadu")

In [ ]:
Top_tran_tac_Y_Q = Transaction_amount_count_Y_Q(Top_tran_tac_Y  , 3)

### Top user

In [ ]:
Top_user_Y = top_user_plot_1(Top_user, 2021)

In [ ]:
top_user_plot_2(Top_user_Y, "Tamil Nadu")